@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif; 
  color: #505962;
}
.offset:before {

}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.jacket, .row-jacket {
  padding-bottom: 0rem !important;
  margin-bottom: 0rem !important;
  padding-top: 0rem;
}

.jacket.nav-link, .jacket.a {
  color: #505962;
  padding: 0rem;
}

.main-jacket {
  padding-top: 1rem!important;
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
  font-family: 'Indie Flower', cursive;
}
.img-responsive {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 940px;
}
.img-car {
  width: 750px; 
  border: 1px solid #000;
}
.scale-down {
  object-fit: scale-down;
}
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
/*--- Navigation --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6)!important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: .8rem; 
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.hover {
  color: #f9da9f!important;
}
/*--- Landing Page 

.home-inner {
  background-image: url(img/computers.png);
}
--*/
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #ffffff;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*============= IMAGE FIT =============*/


.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*-- Features Sections --*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0; 
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: #1ebba3;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}
/*--- Resourse Section --*/
.fixed {
  background-image: url(img/apple.png);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}
/* Clients Section */
.clients img {
  width: 100%;
  border-radius: 50%;
}
blockquote .svg-inline--fa {
  color: #1ebba3;
  margin: 1rem;
}
.clients-hr {
  border-top: .05rem solid #1ebba3;
}
/* contact Section */
footer {
  background-color: #40474e;
  font-family: 'Lato', sans-serif; 
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 1.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}

.footer .btn {
  color: #ff8844;
}
.footer  .link {
  color: #dbe5eb;
}

.footer  .link:hover {
color: #ffffff;
}

.footer  .link.active {
font-weight: 500;
}

.footer .btn-eclectic {
  color: #BBCFDA;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}

.article-title {
  color: #444444;
  }
  
  a.article-title:hover {
  color: #428bca;
  text-decoration: none;
  }
  
  .article-content {
  white-space: pre-line;
  }
  
  .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  }
  
  .article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
  color: #333;
  text-decoration: none;
  }
  
  .article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  }

@media (max-width: 768px) {
  .img-responsive {
    height: 740px;
  }
  .img-car {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .img-responsive {
    height: 640px;
  }
  .img-car {
    width: 400px;
  }
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
