body {
    background: #f5f5f5;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
color: #444444;
}

.imgdiv{
  height: 200px;
  overflow: hidden;
}

.bot1 { margin-bottom:1px; }
.form-group {
  margin-bottom: 0rem;
}
.bg-steel-light {
  background-color: #bbcfda;
}

.bg-steel-dark {
  background-color: #4D5559;
}
.site-header .navbar-nav .nav-link {
color: #dbf5fb;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.footer
{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.footer  .link {
color: #dbe5eb;
}

.footer  .link:hover {
color: #ffffff;
}

.footer  .link.active {
font-weight: 500;
}

.footer .btn {
  color: #ff8844;
}

.footer .btn-eclectic {
  color: #BBCFDA;
}

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #dddddd;
border-radius: 3px;
margin-bottom: 20px;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img {
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

#navbartop {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  overflow: hidden;
  /* transition: top 0.9s; Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbartop a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

#container_wrapper {
  display: None;
  width: 100%;
  align-items: stretch;
}

#sidebar {
    background: #bbcfda;
    color: #fff;
    transition: all 0.9s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #bbcfda;
}

#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    color:#dbf5fb;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #8F9EA6;
}