<footer class="footer page-footer bg-steel-light font-small">
    <div class="section-top" >
        <div class="row ml-4">
            <div class="column" style="float:left;width:33%">
                <div class="article">
                    <div class="text-muted">
                        <p>Personal:<br />
                            <a class="link" href="https://www.imdb.com/name/nm1603123/">imdb<br /> </a>
                            <a class="link" href="https://www.linkedin.com/in/erictexier">linkedin</a>
                        </p>
                    </div>
                </div> <!-- text -->
            </div> <!-- column -->

            <div class="column" style="float:left;width:33%">
                <div class="footer-article">
                    <div class="text-muted">
                        <p>Usefull link:<br />
                            <a class="link" href="https://www.vfxplatform.com">vfx reference plaform</a><br />
                            <a class="link" href="https://www.artella.com/home">artella</a>
                        </p>
                        <p>Production tools site:<br /> 
                            <a class="link" href="https://www.cg-wire.com">cgwire</a><br /> 
                            <a class="link" href="https://www.shotgunsoftware.com/">Shotgun software</a>
                        </p>
                    </div>
                </div> <!-- text -->
            </div> <!-- column -->
            
            <div class="column" style="float:left;width:33%">
                <div class="article">
                    <div class="text-muted">
                        <p>Newsgroup:<br /> 
                            <a class="link" href="https://groups.google.com/a/shotgunsoftware.com/forum/#!forum/shotgun-dev">shotgun dev</a><br /> 
                            <a class="link" href="https://groups.google.com/forum/#!forum/alembic-discussion">alembic discussion group</a><br /> 
                            <a class="link" href="https://groups.google.com/forum/#!forum/rez-config">rez</a><br /> 
                            <a class="link" href="https://groups.google.com/forum/#!forum/usd-interest">usd-interest</a>
                        </p>
                        <p>video:<br /> 
                            <a class="link" href="https://www.youtube.com/watch?v=kUoIbP1l9yA&amp;feature=share">SIGGRAPH 2018  Rob Bredow</a>
                        </p>
                    </div>
                </div> <!-- text -->
            </div> <!-- column -->
        </div> <!-- row -->
    </div> <!-- section -->


 <!-- Footer Elements -->
 <div class="container">

    <!-- Grid row-->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-8 py-0">
            <!-- Social -->
            <div class="mb-0 flex-center">
                <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/texier.e">
                    <span class="fa fa-instagram"></span>
                </a>
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/erictexier">
                    <span class="fa fa-linkedin"></span>
                </a>
                <a class="btn btn-social-icon btn-tumblr" href="https://letexman.tumblr.com">
                    <span class="fa fa-tumblr"></span>
                </a>
                <!-- End Social -->
            </div>
        </div>
        <div class="col-md-4 py-0">
                <!-- Copyright -->
                <div class="footer-copyright ">© 2020 Free of use:
                    <a href="https://erictexier.online/"> Eclectic Studio </a>
                </div>
                <!-- End Copyright -->
        </div>
    </div>
</div> 

</div>
<!-- Footer Elements -->


</footer>