<footer class="footer page-footer font-small bg-steel-light">
    <div class="container py-2">
        <div class="row">
            <div class="column" style="float:left;width:33%">
                <div class="text-muted">
                    <p>Personal:<br />
                        <a class="link" href="https://www.imdb.com/name/nm1603123/">Imdb<br /> </a>
                        <a class="link" href="https://www.linkedin.com/in/erictexier">Linkedin</a>
                    </p>
                </div>
            </div> <!-- column -->

            <div class="column" style="float:left;width:33%">

                <div class="text-muted">
                    <p>Usefull link:<br />
                        <a class="link" href="https://www.vfxplatform.com">Vfx reference plaform</a><br />
                        <a class="link" href="https://www.artella.com/home">Artella</a>
                    </p>
                    <p>Production tools site:<br /> 
                        <a class="link" href="https://www.shotgunsoftware.com/">Shotgun software</a>
                        <a class="link" href="https://www.cg-wire.com">Cgwire</a><br /> 
                    </p>
                </div>

            </div> <!-- column -->
            
            <div class="column" style="float:left;width:33%">

                <div class="text-muted">
                    <p>Newsgroup:<br /> 
                        <a class="link" href="https://groups.google.com/a/shotgunsoftware.com/forum/#!forum/shotgun-dev">shotgun dev</a><br /> 
                        <a class="link" href="https://groups.google.com/forum/#!forum/alembic-discussion">alembic discussion group</a><br /> 
                        <a class="link" href="https://groups.google.com/forum/#!forum/rez-config">rez</a><br /> 
                        <a class="link" href="https://groups.google.com/forum/#!forum/usd-interest">usd-interest</a>
                    </p>
                    <p>video:<br /> 
                        <a class="link" href="https://www.youtube.com/watch?v=kUoIbP1l9yA&amp;feature=share">SIGGRAPH 2018  Rob Bredow</a>
                    </p>
                </div>

            </div> <!-- column -->
        </div> <!-- row -->
    </div> <!-- container 1 -->


    <!-- Footer Elements -->
    <div class="container  bg-steel-dark py-2  mb-3">
        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-8">
                <!-- Social -->
                <div class="mb-0 flex-center">
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/erictexier">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <a class="btn btn-social-icon btn-tumblr"  href="https://letexman.tumblr.com">
                        <span class="fa fa-tumblr"></span>
                    </a>
                    <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/texier.e">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <!-- End Social -->
                </div>
            </div>
            <div class="col-md-4">
                    <!-- Copyright 
                    <div class="footer-copyright ">© 2020 Free of use:
                        <a href="https://erictexier.online/"> Eclectic Studio </a>
                    </div>
                    End Copyright -->
                    <div class="eclectic">
                    <a class="btn btn-eclectic"  href="https://erictexier.online/">
                        <span class="eclectic"> © Eclectic Studio </span>
                    </a>
                    </div>
            </div>
        </div> <!-- Grid row-->
    </div> 

<!-- </div> -->



</footer>