
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename = 'icon/dlogo_small.png') }}" alt="ecleCtic"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto active">
            <!--li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.home') }}">Blog</a>
            </li-->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('carousel.carousel_route') }}">Photography</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('fillit.fillit_route') }}">Play Game</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                </li>
            {% else %}
                <!--li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('resume.resume_route') }}">CV</a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>
</nav> 
<!-- End Navigation-->

<!-- Start Landing Page Section -->
<!--div class="landing">
    <div class="home-wrap">
        <div class="home-inner">

        </div>
    </div>
</div-->

