<nav id="sidebar">
    <div class="sidebar-header">
        <h5> Bonjour! </h5>
    </div>

    <ul class="list-unstyled components">
        <li class="active open">
            <a  href="#homeSubmenu" data-toggle="collapse" id="goofy" aria-expanded="true" class="dropdown-toggle" >Jouer</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="{{ url_for('fillit.fillit_route') }}" >Fillit: Project 42</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Blog</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Préférences</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Not Done:</a>
                </li>
                <li>
                    <a href="#">Dynamically Allocated</a>
                </li>
                <li>
                    <a href="#">END</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/erictexier/" target="_blank">Profile professionel</a>
        </li>
        <li>
            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">A Propos</a>
        </li>
    </ul>
</nav>