<!-- Start Clients Section -->
<div id="clients" class="offset">

    <!-- Start Jumbotron -->
    <div class="jumbotron">
        <div class="col-12 text-center">
            <h3 class="heading">Project</h3>
            <div class="heading-underline"></div>
        </div>
        <div class="row">
            <div class="col-md-6 clients class="offset_text">
            <div class="row">

                <div class="col-md-8">
                    <h1>
                        I see Nuno Support as more of a partner to my company
                    </h1>
                    <p>th I can pick up the phone and talk to 
                        anyone at any time and the way that they interact with
                        us as a business makes it really simple.an a resource.
                        th I can pick up the phone and talk to 
                        anyone at any time and the way that they interact with
                        us as a business makes it really simple.an a resource.
                        <hr class="clients-hr">
                    </p>
                    <h1>
                        <cite>&#8212; Rachel, Professional Photographer</cite>
                    </h1>
                </div>
            </div>
            </div>
    
            <div class="col-md-6 clients">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            I see Nuno Support as more of a partner to my company</h1>
                        <p>    than a resource. I can pick up the phone and talk to 
                            anyone at any time and the way that they interact with
                            us as a business makes it really simple.
                            <hr class="clients-hr">
                        </p>
                        <h1>
                            <cite>&#8212; Rachel, Professional Photographer</cite>
                        </h1>
                    </div>
            </div>
            </div>
    
        </div> <!-- End Row -->
    </div> <!-- End Jumbotron -->
    
        <div class="col-12 narrow text-center">
            <p class="lead">Want to know more about developing this app (opensource)?</p>
            <a class="btn btn-secondary btn-md" href="https://github.com/erictexier/tetriminos" target="_blank">GitHub</a>
        </div>
</div>
    <!-- End Clients Section -->

