<div class="container-fluid padding">
    <hr class="my-4">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="carouselButtons">
                <button id="playButton" type="button" class="btn btn-default btn-xs">
                    Play
                 </button>
                <button id="pauseButton" type="button" class="btn btn-default btn-xs">
                    Pause
                </button>
                <button id="prevButton" type="button" class="btn btn-default btn-xs">
                    Prev
                </button-->
                <button id="nextButton" type="button" class="btn btn-default btn-xs">
                    Next
                </button-->
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p></p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Navigation Option</p>
        </div>
    </div>
    <hr class="my-4">
</div>