{% extends "main/layout.html" %}
{% block content %}
<article class="media content-section">

          <div class="media-body">

              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                            <div class="carousel-item active">
                                  <div class="row">
                                        <div class="col">
                                                <img class="img-responsive"  height="400px"  alt="" src="{{ image.pic_url }}">
                                        </div>
                                        <div class="col">
                                                 <p class="article-content"> {{ image.blog_name }} </p>
                                                 {% for tag in image['tags'] %}
                                                    <p class="article-content"> {{ tag }} </p>
                                                 {% endfor %}
                                        </div>  <!-- end second column -->
                                  </div> <!-- end div row -->
                            </div> <!-- end first active carousel item -->
                            {% for image in others %}
                            <div class="carousel-item">
                                  <div class="row">
                                      <div class="col">
                                          <img class="img-responsive" height="400px"  alt="" src="{{ image.pic_url }}">
                                      </div>  <!-- end first column -->
                                      <div class="col">

                                              <dl class="row form-group">
                                                <dt class="col-sm-4">Blog Name:</dt>
                                                <dd class="col-sm-8"> {{ image.blog_name }} </dd>
                                              </dl>

                                              {% if image.caption %}
                                              <dl class="row form-group">
                                                <dt class="col-sm-4">Title:</dt>
                                                <dd class="col-sm-8"> {{ image.caption }} </dd>
                                              </dl>
                                              {% endif %}

                                              <dl class="row form-group">
                                                <dt class="col-sm-4">Tags:</dt>
                                                <dd class="col-sm-8">
                                                      <ul class="list-unstyled">
                                                          {% for tag in image['tags'] %}
                                                              <li class="list-inline-item"> {{ tag }} </li>
                                                          {% endfor %}
                                                      </ul>
                                                </dd>
                                              </dl>

                                              <dl class="row form-group">
                                                <dt class="col-sm-4">Date:</dt>
                                                <dd class="col-sm-8"> {{ image.date }} </dd>
                                              </dl>

                                              {% if image.image_permalink %}
                                              <dl class="row bot1">
                                                <a class="nav-link" href="{{ image.image_permalink }}" target="_blank">Link</a>
                                              </dl>
                                              {% endif %}

                                      </div> <!-- end second column -->
                                  </div> <!-- end div row -->
                            </div> <!-- end carousel item -->

                            {% endfor %}
                      
                      
                  </div>
              </div>
          </div>
</article>
{% endblock content %}