
<!--- Three Column Section -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3>HTML5</h3>
            <p>Build with the latest version of HTML, HTML5.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3>BOOTSTRAP</h3>
            <p>Build with the latest version of Bootstrap, Bootstrap4.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>CSS3</h3>
            <p>Build with the latest version of CSS, CSS3.</p>
        </div>
    </div>
    <hr class="my-4">


    <div class="col-12 narrow text-center">
        <p class="lead">Want to know more about developing this app for opensource?</p>
        <a class="btn btn-secondary btn-md" href="https://github.com/erictexier/tetriminos" target="_blank">GitHub</a>
    </div>


</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>